<% @deploys.each_with_index do |deploy, index| %>
  <% deploy = DeployPresenter.new(deploy) %>
  <div class='row'>
    <div class='col-xs-12'>
      <h2><%= deploy.time.to_s(:long) %></h2>
      by <%= link_to deploy.name, deploy.user_link %></b>,
      <a href="<%= github_diff_link(deploy, @deploys[index+1]) %>" title='Click to see the diff'>
        <%= deploy.short_ref %>
      </a>
      <ul>
        <% deploy.stories.each do |story| %>
          <li>Pivotal story: #<%= story.uid %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <hr>
<% end %>
